body {
	background-color: #161616;
	
}

h1 {
	color: #fff;
	text-align: center;
	margin: 0 auto;
}

h2, h3 {
	color: #fff;
	text-align: center;
	margin: 0 auto;
}

h5 {
	color: #fff;
	text-align: left;
	margin: 0 auto;
	padding-left: 10px;
}

.axis-text{
	fill: #fff;
}

.title-text {
	fill: #fff;
	font-size: 2.5rem;
}

.my-custom-scrollbar {
position: relative;
height: 500px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

.annotation-note-label {
	font-size: 1rem;
}

.axis-label{
	font-size: 1.7rem;
	fill: #fff;
	text-anchor: middle;
}

.axis--grid .domain {
	fill: #ddd;
	stroke: none;
  }
  
.axis--x .domain,
.axis--grid .tick line {
	stroke: #fff;
}
  
.axis--grid .tick--minor line {
	stroke-opacity: .5;
}

.tick text {
	fill: #fff;
}
  
.axisWhite text{
	fill: #fff;
	font-size: 1.3rem;
}
  
.axisWhite line{
	stroke: #fff;
}
  
.axisWhite path{
	stroke: #fff;
}


.bounding {
	background-color: #2b2b2b;
	border: 1px solid #424242;
	border-radius: 5px;
}

.slider text {
	stroke: #fff;
	font-size: 1.5rem;
}

.track{
	stroke: #fff;
}


.track-overlay{
	height: 5px;
}

.slider-tick text {
	stroke: #fff;
	font-size: 1.3rem;
}

.slider .slider-horizontal {
	height: 200px;
}


#placeholder1 {
	overflow-y: scroll;
	overflow-x: hidden;
}

circle-packs {
	stroke: white;
	fill: #05668D;
	opacity: 0.3;
	stroke-width: 2px;
}

.node-texts {
	
	font-size: 1.5rem;
	text-anchor: middle;
	/* stroke: #000;
	fill: #000;
	stroke-width: 0.5px; */
	dominant-baseline: middle;
}

/* .node-circle {
	stroke: #000;
	stroke-width: .5px;
} */


/* #grouping-label {
	font-size: 2.8rem;
	fill: #fff;
	text-anchor: middle;
} */

.labels text {
	font-size: 1.4rem;
}

.dropdown-select {
	margin-left:  15px;
	margin-right: 15px;
}



.select-css {
	display: inline;
	font-size: 1.3rem;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 5px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}


.modal-body {
	/* background-color: #3b3b3b; */
}

.modal-title {
	font-size: 3rem;
	color: #fff;
}

.modal-content {
	background-color: #3b3b3b ;
	border: 1px solid rgb(155, 155, 155)
}

.modal-text {
	font-size: 2rem;
	color: #fff;
}

.em-red em{
	color: #ff1f1f ;
}

.em-green em{
	color: #52fa52 ;
}

.em-blue em{
	color: #4af1f7 ;
}

.em-yellow em{
	color: #e9f72c ;
}



.modal-header {
	padding: 10px 20px 0px;
	/* height: 20px; */
	/* height: 5px;
	font-size: 2rem;
	*/
	/* background-color: #3b3b3b;  */
	background-color: #2c2c2c;
	border-radius: 6px 6px 0 0;
}

.modal-footer {
	padding: 10px 20px 0px;
	/* height: 20px; */
	/* height: 5px;
	font-size: 2rem;
	*/
	/* background-color: #3b3b3b;  */
	background-color: #2c2c2c;
	border-radius: 0 0 6px 6px;
}


.close {
	float: right;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .7;
	}


.outline-rect {
	stroke: #646464;
	stroke-width: 0.5px;
}


.section-title {
	text-align: left;
	padding-left: 30px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.row-headers{
	background-color: rgb(34, 34, 34);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 1px solid #424242;
	/* width: 100% */
}


.help-button {
	position: absolute;
	right: 30px;
	top: 10px;
	color: lightsteelblue;
	opacity: 0.5;
}